<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IssueConfigurationLocation</key>
	<string>http://cymagazine.s3.amazonaws.com/issues/issues-type.json</string>
	<key>SubscriptionText</key>
	<string>Subscribe to weekly CY Magazine to get access to all issues. Only $1.99/month.</string>
</dict>
</plist>
